.footers {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px -1px 0px rgba(137, 198, 255, 0.1);
  backdrop-filter: blur(12px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .icons {
    cursor: pointer;

    .social-icon-transition {
      opacity: 0;
      display: inline-block;
      -webkit-transition: opacity 0.4s ease;
      -moz-transition: opacity 0.4s ease;
      -o-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease;
    }

    .social-icon-transition:hover {
      opacity: 1;
    }
  }
}
