.btn-connect {
  background: linear-gradient(267.54deg, rgba(247, 3, 217, 0.3) 3.52%, rgba(121, 90, 244, 0.3) 39.38%, rgba(4, 174, 252, 0.3) 80.93%);
}

.btn-connect-before {
  background: linear-gradient(180deg, #c187d0 0%, #3576f7 39.06%, #8d05f7 100%);
  -webkit-mask: -webkit-linear-gradient(#171833 0 0) content-box, -webkit-linear-gradient(#171833 0 0);
  -webkit-mask-composite: source-out;
}

.sidebar-profile {
  background: linear-gradient(267.54deg, #611975 3.52%, #38357d 39.38%, #184c7f 80.93%);
}
