.flash {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  animation-name: flash;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes greentowhite {
  0%,
  50% {
    color: #78f363;
  }
  60%,
  100% {
    color: #ffffffde;
  }
}

@keyframes redtowhite {
  0%,
  50% {
    color: #ff5656;
  }
  60%,
  100% {
    color: #ffffffde;
  }
}
