$navbar-base-colorful-color: linear-gradient(267.54deg, #f703d9 3.52%, #795af4 39.38%, #04aefc 80.93%);

.navbar-container {
  @include display-flex(initial, initial, center);

  .navbar-outer {
    &.connected {
      &:hover {
        .profile-content {
          visibility: visible;
          opacity: 1;
          height: auto;
        }
      }
    }
  }

  .navbar-button {
    @include display-flex(center, row, center);
    position: relative;
    border: 0;
    border-radius: 100px;
    height: 32px;
    min-width: 120px;
    margin: 0 0 0 16px;

    &.not-connected:hover,
    &:hover,
    &:active {
      background: $navbar-base-colorful-color;
    }

    &.connected {
      background: linear-gradient(265.29deg, #c187d0 12.7%, #3576f7 46.8%, #8d05f7 100%);
      -webkit-background-clip: text;
      background-clip: text;
    }

    .container {
      @include display-flex(center, row, center);
    }
  }

  .profile-content {
    .tops {
      .user-content {
        @include display-flex(space-between, initial, center);

        .title {
          @include display-flex(initial, initial, center);
        }
      }

      .view-page-row {
        @include display-flex(space-between);

        .button {
          @include display-flex(initial, initial, center);
        }
      }
    }

    .bottoms {
      .connected-wallet {
        .content {
          @include display-flex(space-between, initial, center);

          .start {
            @include display-flex(space-between, initial, center);
          }
        }
      }

      .total-value-row {
        @include display-flex(space-between, initial, center);

        .price-content {
          @include display-flex(initial, initial, center);

          .icon-row {
            @include display-flex(initial, initial, center);
          }
        }
      }
    }

    .normal-buttons {
      .btn-switch-goerli {
        @include display-flex(center, initial, center);
      }

      .function-btn {
        @include display-flex(center, initial, center);
      }
    }
  }
}
